<?= Form::ajax($this->getEventHandler('onApplyMetadataUpdate'), [
    'data-stripe-load-indicator' => 1,
    'id' => 'asset-metadata-popup-form',
    'data-request-flash' => true,
    'data-request-success' => "$('.modal').trigger('close.oc.popup')"
]) ?>
<div class="layout">
	<div class="layout-row panel min-size">
		<div class="modal-header">
            <h4 class="modal-title"><?= e(trans('snipi.memetadata::lang.form.update_metadata')) ?></h4>
            <button type="button" class="btn-close" data-dismiss="popup"></button>
        </div>
		<div class="layout whiteboard">
            <?php if($this->vars['is_image']): ?>
                <div class="layout-cell panel no-padding" style="text-align:center; vertical-align: middle;object-fit: cover;">
                    <?php if(!empty($this->vars['is_svg'])): ?>
                        <object data="/storage/app/media<?= $originalPath ?>" type="image/svg+xml" class="w-full" style="max-width:100%; height: 200px;"></object>
                    <?php else: ?>
                        <img src="/storage/app/media<?= $originalPath ?>" class="w-full" style="max-width:100%;"/>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
			<input type="hidden" name="path" value="<?= $originalPath ?>"/>
			<div class="layout-cell panel">
				<div class="control-tabs secondary-tabs" data-control="tab">
				    <ul class="nav nav-tabs">
				        <li class="active"><a href="#Metadata">Metadata</a></li>
				        <?php if(false === empty($this->vars['exif'])):?>
				        <li><a href="#Exif">Exif informations</a></li>
				        <?php endif; ?>
				        <li><a href="#About">About</a></li>
				    </ul>
				    <div class="tab-content">
				        <div class="tab-pane active">
				            <div class="form-group">
					            <label><?= e(trans('snipi.memetadata::lang.form.title')) ?></label>
					            <input
					                type="text"
					                name="title"
					                value="<?= $title ? $title : $this->vars['exif']['FileName'] ?? '' ?>"
					                class="form-control"
					                autocomplete="off" />
					        </div>
					        <div class="form-group">
					            <label><?= e(trans('snipi.memetadata::lang.form.keywords')) ?></label>
					            <input
					                type="text"
					                name="keywords"
					                value="<?= e($keywords) ?>"
					                class="form-control"
					                autocomplete="off" />
					        </div>
					        <div class="row">
						        <div class="form-group col-sm-6">
						            <label><?= e(trans('snipi.memetadata::lang.form.source')) ?>
						            	</label>
						            <input
						                type="text"
						                name="source"
						                value="<?= e($source) ?>"
						                class="form-control"
						                autocomplete="off" />
						        </div>
						        <div class="form-group col-sm-6">
						            <label><?= e(trans('snipi.memetadata::lang.form.source_url')) ?></label>
						            <input
						                type="text"
						                name="source_url"
						                value="<?= e($source_url) ?>"
						                class="form-control"
						                autocomplete="off" />
						        </div>
					        </div>
					        <div class="row">
						        <div class="form-group col-sm-6">
						            <label><?= e(trans('snipi.memetadata::lang.form.author')) ?>
						            	<?php if($author == '' && false === empty($this->vars['exif']['Artist'])): ?>
						            	<strong><small class=" text-danger">EXIF</strong></small>
						            	<?php endif; ?></label>
						            <input
						                type="text"
						                name="author"
						                value="<?= $author ? $author : $this->vars['exif']['Artist'] ?? '' ?>"
						                class="form-control"
						                autocomplete="off" />
						        </div>
						        <div class="form-group col-sm-6">
						            <label><?= e(trans('snipi.memetadata::lang.form.author_url')) ?></label>
						            <input
						                type="text"
						                name="author_url"
						                value="<?= $author_url ?>"
						                class="form-control"
						                autocomplete="off" />
						        </div>
					        </div>
					        <div class="form-group">
					            <label><?= e(trans('snipi.memetadata::lang.form.description')) ?>
						            	<?php if($description == '' && false === empty($this->vars['exif']['ImageDescription'])): ?>
						            	<strong><small class=" text-danger">EXIF</strong></small>
						            	<?php endif; ?></label>
					            <textarea
					                type="text"
					                name="description"
					                class="form-control"
					                rows="4"
					                autocomplete="off"><?= $description ? $description : $this->vars['exif']['ImageDescription'] ?? '' ?></textarea>
					        </div>

				        </div>
				        <?php if(false === empty($this->vars['exif'])):?>
				        <div class="tab-pane">
				            <div class="control-list" style="max-height: 360px; overflow: auto;">
							    <table class="table data">
							        <thead>
							            <tr>
							                <th style="width: 40%"><span>Field</span></th>
							                <th ><span>Value</span></th>
							            </tr>
							        </thead>
							        <tbody>
							            <?php
							            foreach($this->vars['exif'] as $field => $val): ?>
							            <tr>
							                <td style="padding: 6px 0;" class="t-ww">
							                    <?= $field ?>
							                </td>
							                <?php if(false === is_array($val)): ?>
							                <td style="padding: 6px 0;" class="t-ww"><?= $val ?></td>
							                <?php 
							                else:
							                ?>

							                <td style="padding: 6px 0;" class="t-ww"><?= implode(',',$val) ?></td>
							                <?php
							                endif;
							                ?>

							            </tr>
							            <?php
							            endforeach;
							            ?>
							        </tbody>
							    </table>
							</div>
				        </div>
				        <?php endif; ?>
				        <div class="tab-pane">
				            <h3>How to show metadata?</h3>
				            <p>If you wish to display your metadata, please use component or page snippet, which comes with this plugin.</p>
				            <h4>Custom way?</h4>
				            <p>This plugins has registered twig helper <strong>|metadata</strong>, then when you use <br/>
				            	<code>{% set metadata = '<?= ltrim($originalPath,'/') ?>'|metadata %}</code>
				            	you can use  <code> {{ metadata.title }} </code> to obtain title field from metadata.
				            </p> 
				        </div>
				    </div>
        		    <div class="modal-footer">
                        <button type="submit" data-attach-loading class="btn btn-primary"><?= e(trans('backend::lang.form.apply')) ?></button>
                        <button type="button" class="btn btn-default" data-dismiss="popup">
                            <?= e(trans('backend::lang.form.close')) ?>
                        </button>
                    </div>
				</div>
		    </div>
		</div>
	</div>
    <script>
        setTimeout(
            function(){ $('#asset-metadata-popup-form input.form-control:eq(0)').focus() },
            310
        )
    </script>
<?= Form::close() ?>